@model Recreationals.Admin.Models.Sport.SportCreateReq

<div class="container">
    <div class="shadow p-3 mb-5 bg-light rounded">Kreiranje sporta</div>

    <form asp-area="Admin" asp-controller="Sports" asp-action="Create" method="post">
        <div class="form-group">
            <label for="formGroupExampleInput">Naziv</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">URL fotografije</label>
            @Html.TextBoxFor(model => model.PhotoUrl, new { @class = "form-control" })
        </div>
        <hr />
        <span class="badge badge-primary badge-pill">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="Sports" asp-action="List">Nazad</a>
        </span>
        <button type="submit" class="btn btn-success">Spasi</button>
    </form>
</div>
